@import url("../webfonts/BebasNeue_Book/stylesheet.css");
@import url("../webfonts/BebasNeue_Bold/stylesheet.css");
@import url("../webfonts/BebasNeue_Light/stylesheet.css");
@import url("../webfonts/BebasNeue_Regular/stylesheet.css");

/* Body */
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: BebasNeue Bold;
  font-size: 100%;
  color: #413f3e;
  background-color: #b3b6bb;
}

body.dark {
  color: #b2b5b8;
  background-color: #3a3b3d;
}

/* Links */
a {
  color: #975d5d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Overrides */
h1 {
  font-size: 270% !important;
  white-space: nowrap;
  margin-block-start: inherit !important;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h2 {
  margin-block-start: inherit !important;
  white-space: nowrap;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h3 {
  margin-block-start: inherit !important;
  white-space: nowrap;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h4 {
  margin-block-start: inherit !important;
  white-space: nowrap;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h5 {
  margin-block-start: inherit !important;
  white-space: nowrap;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h6 {
  margin-block-start: inherit !important;
  white-space: nowrap;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

p {
  margin-block-start: inherit !important;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: Cambria;
}

h1 a {
  margin-block-start: inherit !important;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h2 a {
  margin-block-start: inherit !important;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h3 a {
  margin-block-start: inherit !important;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h4 a {
  margin-block-start: inherit !important;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h5 a {
  margin-block-start: inherit !important;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

h6 a {
  margin-block-start: inherit !important;
  margin-block-end: inherit !important;
  color: inherit !important;
  font-family: BebasNeue Bold;
}

/* Portfolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  min-height: 35rem;
  width: auto;
  min-width: 75%;
}

.portfolio-entry {
  text-align: center;
  position: relative;
  margin: 5px;
  overflow: hidden;
  min-width: 300px;
  max-width: 30vw;
}

.portfolio-image {
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.portfolio-image:hover {
  opacity: 0;
}

.portfolio-image img {
  height: auto;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.portfolio-video {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
}

.portfolio-name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    color: #b2b5b8 !important;
}

.portfolio-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 36px 36px rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  pointer-events: none;
}

/* Articles */
article {
  text-align: center;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 2px solid #a2a4a8;
  background-color: #b9bbbe;
}

article.dark {
  border: 2px solid #413f3e;
  background-color: #444547;
}

.article-summary {
  padding-top: 4px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 5px;
  text-align: left;
}

.article-date {
  white-space: nowrap;
}

.article-full {
  padding-top: 4px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  margin-top: 1em;
  text-align: left;
  position: relative;
  height: auto;
  min-height: 35rem;
}

.article-header {
  display: flex;
  justify-content: left;
  align-items: first baseline;
  height: 30px;
  border-width: 1px;
  border-color: #413f3e;
  border-style: none none solid none;
  margin-bottom: 10px;
}

.article-title {
  display: inline-block;
  padding-right: 10px;
  padding-right: 10px;
  vertical-align: middle;
  text-align: left;
}

.article-info {
  display: inline-block;
  padding-right: 10px;
  padding-right: 10px;
  font-family: Cambria;
}

.article-info p,
.article-info a {
  display: inline-block;
}

.article-content {
  padding-bottom: 30px;
  font-family: Cambria;
  white-space: break-spaces;
}

/* Pagination */
.pagination {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
}

.pagenum {
  text-align: center;
  width: auto;
  margin: 0;
  height: auto;
  min-height: 100%;
}

/* Navigation Buttons */
.btn-left {
  text-align: left;
  font-family: BebasNeue Bold;
  width: 50px;
  margin: 0;
  height: auto;
  min-height: 100%;
}

.btn-right {
  text-align: right;
  font-family: BebasNeue Bold;
  width: 50px;
  margin: 0;
  height: auto;
  min-height: 100%;
}

.btn-spacer {
  margin: 0;
  height: auto;
  min-height: 100%;
  width: 50px;
}

.btn-return {
  margin-bottom: 30px;
  margin-left: 0px;
  margin-top: 15px;
  position: absolute;
  bottom: 0;
  text-align: left;
  font-family: BebasNeue Bold;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  color: #c2c0bd;
  background-color: #5f5f63;
}

header.dark {
  color: #b2b5b8;
  background-color: #303033;
}

header a {
  color: inherit !important;
  text-decoration: none;
}

header a:hover {
    color: inherit !important;
    text-decoration: none;
}

/* Header Atlas */
.header-atlas {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: auto;
  min-height: 100%;
  width: 300px;
}

.header-spacer {
  margin-right: 30px;
  height: auto;
  min-height: 100%;
  width: 300px;
}

.atlas-icon {
  border-radius: 50%;
  max-width: 120px;
}

.atlas-link {
  text-align: left;
  padding: 5px;
  padding-left: 20px;
  display: block;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  font-size: 125%;
}

.atlas-link:hover {
  font-size: 175%;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  width: 400px;
  font-size: 110%;
  margin: 5px;
}

.header-social {
  display: inline;
  padding: 0px;
  margin-top: 10px;
  word-spacing: 10px;
  font-size: 90%;
  list-style-type: none;
}

/* Footer */
footer {
  height: auto;
  min-height: 10rem;
  text-align: center;
}

/* Misc */
.contact-icon{
  width: 15%;
  height: auto;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #413f3e;
}

/* Mobile */
@media (max-width:650px) or ((hover: none) and (pointer: coarse))
{.header-title {
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  font-size: 90%;
  margin-right: 10px;
  width: max-content;
}

.header-social {
  margin-right: 10px;
}

.header-atlas {
  margin-left: 10px;
  width: auto;
}

.atlas-icon {
  max-width: 80px;
}

.header-spacer {
  display: none;
}

header h4 {
  display: none;
}

.article-summary {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.article-full {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.portfolio-entry {
  max-width: 100%;
}
}