<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="/theme/css/style.css">
  <link rel="stylesheet" type="text/css" href="/theme/font-awesome/css/fontawesome.css">
  <link rel="stylesheet" type="text/css" href="/theme/font-awesome/css/brands.css">
</head>

<body>
  {% block content %}
  {% endblock %}
  {% include "modules/footer.html" %}
  <script id="theme-manager" src="/theme/js/theme_manager.js" type="text/javascript"></script>
</body>
</html>
