{% extends "base.html" %}
{% include "modules/header.html" %}
{% block content %}
<div class="portfolio">
    {% for name, link, image, vid in FEATURED %}
    <div class="portfolio-entry"> 
        <video class="portfolio-video" autoplay loop muted playsinline src="{{vid}}" type="video/webm"></video>
        <div class="portfolio-shadow"></div>
        <h2 class="portfolio-name">{{name}}</h2>
        <a class="portfolio-image" href="{{link}}" target="_blank"><img src="{{image}}" alt=""></img></a>
    </div>	
    {% endfor %}
</div>
{% endblock content %}
